<h2>CSS Grid Example</h2>

<p>The blocks below are laid out using CSS grid, using autoprefixer for
compatibility with Internet Explorer. Various workarounds are used to make this
possible with Angular CLI 1.6.1.</p>

<div class="wrapper">
  <div class="box a">A</div>
  <div class="box b">B</div>
  <div class="box c">C</div>
  <div class="box d">D</div>
  <div class="box e">E</div>
  <div class="box f">F</div>
</div>

<p>
  (Written by <a href="https://kylecordes.com/">Kyle Cordes</a>
  of <a href="https://oasisdigital.com/">Oasis Digital</a>
  / <a href="https://angularbootcamp.com/">Angular Boot Camp</a>)
</p>
